[submodule "vendor/bus-rust"]
	path = vendor/bus-rust
	url = https://github.com/Bitconch/bus-rust

[submodule "vendor/rustelo-rust"]
	path = vendor/rustelo-rust
	url = https://github.com/caesarchad/rustelo-rust

[submodule "rustelo-rust"]
	path = rustelo-rust
	url = https://github.com/caesarchad/rustelo-rust
