[submodule "vendor/bus-rust"]
	path = vendor/bus-rust
	url = https://github.com/Bitconch/bus-rust

[submodule "vendor/rustelo-easy"]
	path = vendor/rustelo-easy
	url = https://github.com/caesarchad/rustelo-easy.git

[submodule "vendor/rustelo-complex"]
	path = vendor/rustelo-complex
	url = https://github.com/caesarchad/rustelo-complex.git