[Unit]
Description=Bitconch Testnet Tokenbot Service
After=network.target
StartLimitIntervalsec=0
Documentation=https://github.com/bitconch/bus

[Service]
Type=simple
User=root
ExecStart=/usr/bin/bitconch/buffett/demo/tokenbot-service.sh
WorkingDirectory=/usr/bin/bitconch/buffett/demo

[Install]
WantedBy=multi-user.target