[Unit]
Description=Bitconch Testnet Validator Node Service
After=network.target
StartLimitIntervalsec=0
Documentation=https://github.com/bitconch/bus

[Service]
Environment=PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/bin/bitconch
User=root
ExecStart=/bin/bash -c "PATH=/usr/bin/bitconch:$PATH exec /usr/bin/bitconch/buffett/demo/validator.sh -x 47.75.189.25 47.75.189.25:8899" 
WorkingDirectory=/usr/bin/bitconch/buffett

[Install]
WantedBy=multi-user.target