[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://e.coding.net/matrix2018/bitconch.chainbase.git
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://e.coding.net/matrix2018/bitconch.appbase.git
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://e.coding.net/matrix2018/bitconch.fc.git
[submodule "libraries/wabt"]
	path = libraries/wabt
	url = https://e.coding.net/matrix2018/bitconch.wabt.git
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://e.coding.net/matrix2018/bitconch.softfloat.git
[submodule "libraries/yubihsm"]
	path = libraries/yubihsm
	url = https://github.com/Yubico/yubihsm-shell
